@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Roboto+Condensed:wght@700&display=swap');

.logo a {
    font-size: 40px;
    text-decoration: none;
    letter-spacing: 0.2em;
    font-family: 'Roboto Condensed', sans-serif;

}

p {
    padding-top: 100px;
}





.mysearch {
    padding: 4px;
    font-size: 20px;
    border-width: 2px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: hidden;
    border-radius: 11px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 0px rgba(66, 66, 66, .75);
}



.mysearch:focus {
    outline: none;
}

@media screen and (min-width: 400px) {
    .mysearch {
        padding: 3px;
        font-size: 15px;
        border-width: 2px;
        border-color: #CCCCCC;
        background-color: #FFFFFF;
        color: #000000;
        border-style: hidden;
        border-radius: 11px;
        box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
        text-shadow: 0px 0px 0px rgba(66, 66, 66, .75);
    }
}





#navbarNav {
    font-family: 'Kanit', sans-serif;
    background-size: cover;

}


#navbarNav a {
    margin: 5px 7px;
}

#navbarNav a:hover {
    background-color: rgb(226, 216, 216);
    border-radius: 25px;
    color: rgb(20, 16, 212);
}


#hello {



    animation-name: example;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {
        left: 0px;
    }

    to {
        left: 10px;
    }
}

@media screen and (min-width: 400px) {
    .navbar-toggler {
        margin-right: 400px;
    }
}


.data a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 400px) {
    #content-photo {
        width: 100%;
    }
}



.login {
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;

}


.card a {
    width: 30px;
}


.card {
    margin-top: 50px;
}

.card .infor {
    display: flex;
    justify-content: space-between;

}


.footer {

    background-color: black;
    text-decoration: aliceblue;

}

.footer-link {
    justify-content: space-between;
    display: flex;
}

.footer-logo {
    display: flex;
    align-items: center;

}

.footer-logo h3 {
    padding-top: 50px;
}

.fa-store {
    width: 100px;
}

.toast {
    width: 500px;
    position: absolute;

    left: 100px;
    top: 250px;
    background-color: rgb(250, 248, 253);



}







/*1.html of css*/




#card2 {
    width: 300px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 6px 8px 0 rgba(12, 12, 12, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 100px;
    transition: 0.5s;
    padding-bottom: 150px;



}

#card2:hover {
    height: 500px;
}

.photo {
    position: absolute;

    width: 300px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 3px 6px 8px 0 rgba(255, 243, 255, 0.363), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#card2:hover .photo {
    width: 300px;
    height: 300px;
}


.info {
    width: 100%;
    transition: 0.5s;
    overflow: hidden;


}


#card2:hover .info {
    margin-top: 300px;
}


.info h2 {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 20px;
    padding-left: 30px;

}

.data {
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
    padding-top: 20px;

}

.data h3 {
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 15px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.5s;
}



.p {
    background-color: #7892c2;
    border-radius: 28px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 20px 40px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.p:hover {
    background-color: #476e9e;
}

.p:active {
    position: relative;
    top: 1px;
}







.o {
    background-color: #44c767;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 20px 30px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.o:hover {
    background-color: #5cbf2a;
}

.o:active {
    position: relative;
    top: 1px;
}

/*1.html of css*/


.divider {
    height: 5px;

}


#login2 p {
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}









